<html>
<body>
<h3>List of names</h3>
<ul>
    <li id="martina">Martina</li>
    <li id="timo">Timo</li>
    <li>Lenny</li>
    <li>Raupy</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.7/purify.min.js"></script>
<script>
    let dangerousText =  `<img src=x onerror=alert(1)>`;

    // Creating a trusted type
   if (window.trustedTypes && trustedTypes.createPolicy) { // Feature testing
   }

    document.getElementById('martina').innerHTML = dangerousText;
</script>
<script src="js/legitimate.js"></script>
</body>
</html>

