<html>
<body>
<h3>List of names</h3>
<ul>
    <li id="martina">Martina</li>
    <li id="timo">Timo</li>
    <li>Lenny</li>
    <li>Raupy</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.7/purify.min.js"></script>
<script>
    // document.getElementById('martina').innerHTML = `<img src=x onerror=alert(1)>`;

    // Creating custom Policy

    /* if (window.trustedTypes && trustedTypes.createPolicy) { // Feature testing
         const escapeHTMLPolicy = trustedTypes.createPolicy('myEscapePolicy', {
            createHTML: text => text.replace(/\</g, '&lt;')
         });

         const escaped = escapeHTMLPolicy.createHTML('<img src=x onerror=alert(1)>')

         document.getElementById('martina').innerHTML = escaped;
     }*/

    // Using DOMpurify

    if (window.trustedTypes && trustedTypes.createPolicy) { // Feature testing
        const escapeHTMLPolicy =  trustedTypes.createPolicy('DOMPurify', {
            createHTML: string => DOMPurify.sanitize(string, {RETURN_TRUSTED_TYPE: true})
        });

        const escaped = escapeHTMLPolicy.createHTML('<img src=x onerror=alert(1)>')

        document.getElementById('martina').innerHTML = escaped;
    }
</script>
<script src="js/legitimate.js"></script>
</body>
</html>

