<html>
<body>
<h3>List of names</h3>
<ul>
    <li id="martina">Martina</li>
    <li id="timo">Timo</li>
    <li>Lenny</li>
    <li>Raupy</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.7/purify.min.js"></script>
<script>
    // document.getElementById('martina').innerHTML = `<img src=x onerror=alert(1)>`;
    let dangerousText =  `<img src=x onerror=alert(1)>`;
    let trustedTypeText = dangerousText;

    // Using DOMpurify
    if (window.trustedTypes && trustedTypes.createPolicy) { // Feature testing
        trustedTypeText = DOMPurify.sanitize(dangerousText , {RETURN_TRUSTED_TYPE: true})
    }
    // Creating custom Policy
    /* if (window.trustedTypes && trustedTypes.createPolicy) { // Feature testing
         const escapeHTMLPolicy = trustedTypes.createPolicy('myEscapePolicy', {
            createHTML: text => text.replace(/\</g, '&lt;')
         });

         trustedTypeText = escapeHTMLPolicy.createHTML(dangerousText)
     }*/

    document.getElementById('martina').innerHTML = trustedTypeText
</script>
<script src="js/legitimate.js"></script>
</body>
</html>

